<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.campello.audio"
    android:versionCode="1"
    android:versionName="1.0">

    <application
        android:label="Campello Audio"
        android:hasCode="false">

        <activity
            android:name="android.app.NativeActivity"
            android:label="Campello Audio"
            android:configChanges="orientation|screenSize|smallestScreenSize">
            <meta-data
                android:name="android.app.lib_name"
                android:value="campello_audio_android_sampler" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
